body {
    font-family: Arial, sans-serif;
}

.extension-container {

    max-height: calc(100vh - 100px); /* Adjust max-height as necessary */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #27ae60; /* Kaspersky-like green color */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    cursor: move;
    user-select: none; 
    z-index: 1000;
    transition: height 0.3s ease-out;
}


.extension-container h2 {
    text-align: center;
    font-size: 3em;
    color: white;
}

.extension-container form {
    margin-bottom: 20px;
}

.extension-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

.extension-container input[type="file"] {
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    width: 95%;
    font-size: 1em;
}

.extension-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:white;
    color: #27ae60; /* Kaspersky-like green color */;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.extension-container button:hover {
    background-color: black;
}

#result {
    margin-top: 20px;
}

.transaction-tile {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.transaction-tile:hover {
    background-color: #f1f1f1;
}

.transaction-details {
    display: none; /* Hidden initially, shown when tile is clicked */
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fff;
}




.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #4B6584;
    padding: 10px 12px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

.custom-file-upload {
    margin-top: 5px;

}

.file-upload-container:hover {
    background-color: black;
}

.custom-file-upload i {
    margin-right: 5px;
}

#filenameDisplay {
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}